scikit-learn==1.3.1  # إصدار حديث من Scikit-learn
numpy==1.24.3        # مكتبة للتعامل مع المصفوفات
pandas==2.1.0        # مكتبة لتحليل البيانات
matplotlib==3.8.0    # مكتبة لرسم البيانات
seaborn==0.12.2      # مكتبة لتصور البيانات
joblib==1.3.2        # مكتبة لحفظ النماذج
scipy==1.11.2        # مكتبة للحسابات العلمية
